asgiref==3.8.1
beautifulsoup4==4.13.4
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.2.1
cmudict==1.0.32
Django==5.2.2
django-htmx==1.23.0
idna==3.10
importlib_metadata==8.7.0
importlib_resources==6.5.2
joblib==1.5.1
nltk==3.9.1
pyphen==0.17.2
regex==2024.11.6
requests==2.32.3
setuptools==80.9.0
soupsieve==2.7
sqlparse==0.5.3
textblob==0.19.0
textstat==0.7.7
tqdm==4.67.1
typing_extensions==4.14.0
urllib3==2.4.0
zipp==3.23.0
