{% extends 'layouts/box.html' %}

{% block content %}
    <h1 class="text-2xl font-semibold -mt-8 text-gray-800 ">Analyze your Link</h1>
    <p class="text-gray-600 mb-2 ">
      Paste a blog, newsletter, tweet-thread or caption below:
    </p>

    <form
      hx-post="{% url 'analyze' %}"
      hx-trigger="submit"
      hx-target="#psiFragmentContainer"
      hx-swap="innerHTML"


      class="space-y-4 mb-6 "
    >
      {% csrf_token %}

      <div>
        <input
          type="text"
          id="content"
          name="url"
          class="w-4/5 rounded-xl border border-gray-300 px-4 py-2 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500"
          placeholder="Type or paste your link here…"
        />
          {% if form.url.errors %}
        <p class="text-red-600 text-sm">{{ form.url.errors.0 }}</p>
        {% endif %}
      </div>


      <div class="flex space-x-4">
        <button
          type="submit"
          class="inline-flex items-center px-6 py-3 bg-indigo-600 hover:bg-indigo-700 text-white font-medium rounded-xl shadow-sm transition"
        >
          Submit
        </button>
          <!-- Loading spinner, hidden by default -->
        <svg
          class="loading-indicator hidden w-6 h-6 text-indigo-600 animate-spin"
          xmlns="http://www.w3.org/2000/svg"
          fill="none" viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"
          />
          <path
            class="opacity-75" fill="currentColor"
            d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"
          />
        </svg>
      </div>
    </form>

    <div id="recent-searches" >
        {% include 'analyzer/recent_searches.html' %}
    </div>
    <div id="psiFragmentContainer"></div>

{% endblock %}
